* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* common style  */

.container {
  max-width: 1150px;
  margin: auto;
}
header {
  margin-top: 80px;
}
/* nav section */
.hamburger {
  display: none;
  font-size: 1.6rem;
}
#manu-toggle {
  display: none;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h3 {
  color: rgb(58, 58, 58);
  font-size: 1.8rem;
  font-weight: 700;
}
ul {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  list-style: none;
  align-items: center;
}
ul li a {
  text-decoration: none;
  color: rgb(58, 58, 58);
  font-weight: 600;
}

/* header banner section */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  background-image: url(../images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.banner-left h1 {
  color: rgb(58, 58, 58);
  font-weight: 700;
  font-size: 3.4rem;
}
.banner-left p {
  color: rgb(58, 58, 58);
  font-weight: 600;
}
.btn {
  color: rgb(255, 255, 255);
  font-weight: 700;
  border-radius: 41px;
  background: rgb(58, 58, 58);
  padding: 10px 24px 10px 24px;
  margin-top: 30px;
}
.banner-right img {
  background-size: 475px;
}
.brand {
  display: flex;
  gap: 13px;
  padding: 36px 73px;
  margin-top: 60px;
  margin-bottom: 100px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  justify-content: center;
}
/* collection */
.collection-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.collection-card {
  width: 329px;
  height: 476px;
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
  padding: 17px 15px;
}
.collection-title {
  color: rgb(58, 58, 58);
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}
.collection-card h4 {
  color: rgba(0, 0, 0, 0.87);
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 400;
}
.collection-card p {
  color: rgb(120, 120, 133);
  font-family: Inter;
  font-size: 0.9rem;
  font-weight: 700;
}
.collection-card h3 {
  color: rgb(24, 25, 31);
  font-size: 1.7rem;
  font-weight: 500;
}
.btn-2 {
  color: rgba(224, 44, 109, 0.87);
  font-weight: 700;
  border: none;
  justify-content: end;
  align-content: end;
  text-align: end;
  width: 75px;
  height: 24px;
  margin: 50px auto;
}
.button {
  justify-content: end;
  align-content: end;
  text-align: end;
  margin-left: 30px;
}
/* banner-2 */
.banner-2 {
  display: flex;
  gap: 90px;
}
.banner-2 h3 {
  color: rgb(10, 8, 38);
  font-size: 2.5rem;
  font-weight: 700;
}
.banner-2 p {
  color: rgb(108, 108, 108);

  font-weight: 700;
}
/* footer */
footer {
  background-color: black;
  padding-top: 57px;
  padding-bottom: 57px;
  max-width: 1440px;
  margin: auto;
}
.footer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.insta {
  display: flex;
  gap: 8px;
}

@media (max-width: 567px) {
  ul {
    display: none;
    flex-direction: column;
    background: white;
    position: absolute;
    top: 60px;
    right: 15px;
    padding: 15px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 99;
    width: 200px;
  }
  .menu-toggle:checked + .hamburger + ul {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  /* nav,
  ul {
    flex-direction: column;
  }
  .nav-title {
    margin-bottom: 20px; */

  .banner {
    flex-direction: column-reverse;
    background-position: top center;
  }
  .banner-left {
    margin-left: 20px;
    text-align: center;
    margin-top: 40px;
  }
  .brand {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    padding: 10px;
    margin: 0;
    margin-top: 30px;
    border: none;
  }
  .btn {
    background-color: rgb(150, 21, 21);
    color: white;
    border: none;
  }
  .collection-cards {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 40px;
    margin-top: 20px;
  }
  .banner-2 {
    flex-direction: column;
    margin-left: 20px;
  }
  footer {
    margin-top: 30px;
    margin-bottom: 70px;
    margin-left: 20px;
  }
}
